[Unit]
Description=Apollon Standalone

[Service]
Type=simple
User=apollon_standalone
ExecStart=/usr/bin/node /opt/apollon/build/server/server.js
Restart=always
Environment=NODE_ENV=production
WorkingDirectory=/opt/apollon/build/server/

[Install]
WantedBy=multi-user.target
