body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.apollon-editor {
  flex-grow: 1;
}

#application-modal #permission-selection-dropdown {
  width: 100%;
}

.share-btn {
  width: 23%;
}

legend {
  width: 205px;
  margin-left: 10px;
}

fieldset.scheduler-border {
  border: 1px groove #ddd;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-size: 0.85em;
  font-weight: bold;
  text-align: left;
  width: auto;
  padding:0 10px;

}