body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--apollon-background);
}

.apollon-editor {
  flex-grow: 1;
  background-color: var(--apollon-background);
}

#application-modal #permission-selection-dropdown {
  width: 100%;
}

#modeling-editor-sidebar {
  background-color: var(--apollon-background);
}

.dropdown-menu {
  background-color: var(--apollon-background);
}

.dropdown-item {
  color: var(--apollon-background-inverse);
}

#dropdown-basic {
  color: var(--apollon-background-inverse);
  border: 0;
}

.modal-content {
  background-color: var(--apollon-background);
  color: var(--apollon-background-inverse);
}

.modal-body .table {
  color: var(--apollon-background-inverse);
}

.modal-header .close {
  color: var(--apollon-background-inverse);
  opacity: 1;
}

.alert-danger {
  color: var(--apollon-alert-danger-color);
  background-color:var(--apollon-alert-danger-background);;
  border-color: var(--apollon-alert-danger-border);;
}
